* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  padding: 50px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  padding: 0 120px;
}
/* ============================= Header ============================= */
.header {
  background-image: url(./images/960__80_3501781727.jpg);
  box-shadow: inset 0 120vh rgba(0, 0, 0, 0.36);
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 120px;
  background-color: #dad2d2;
  align-items: center;
}
.navigation {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 35px;
  font-weight: 600;
  color: grey;
}
.logo span {
  color: #000;
}
.link {
  font-size: 20px;
  color: gray;
  padding: 10px 25px;
  text-align: center;
  position: relative;
}
.link:hover {
  color: #000;
}

/* ============================= DROP-DOWN ============================= */

.drop-down {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  color: #000;
  left: 0;
  bottom: -230%;
}
.drop-down li {
  padding: 5px;
  text-align: center;
}
.drop-down li:hover {
  background-color: darkgray;
  color: #fff;
}
.link:hover .drop-down {
  display: block;
}
.times {
  background-color: rgba(98, 92, 92, 0.563);
  color: #fff;
  padding: 20px 100px;
  display: flex;
  justify-content: space-around;
}
.times_item {
  font-size: 22px;
  text-align: center;
}
.times_item span {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.opening {
  padding: 200px 0;
  color: #fff;
  text-align: center;
}
.opening p {
  font-size: 22px;
}
.opening h1 {
  font-size: 55px;
  margin: 50px 0;
  text-transform: capitalize;
}
.opening button {
  outline: hidden;
  border: none;
  background-color: #d6e28c96;
  color: #000000;
  padding: 12px 30px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.opening button:hover {
  background-color: #000;
  color: gray;
}
/* ============================= About us ============================= */
.about_us {
  background-color: #fff;
  padding: 200px 0 100px 0;
  position: relative;
}
.about_us_text {
  display: flex;
  gap: 120px;
  padding: 0 120px;
}
.about_us_text div * {
  margin-bottom: 25px;
}
.about_us_right p {
  width: 160px;
}
.about_us_text p {
  color: grey;
}
.about_us_text p span {
  color: blue;
}
.gallery div {
  width: 180px;
  height: 150px;
  overflow: hidden;
  border-radius: 15px;
}
.gallery div:hover {
  box-shadow: 0 0 10px black;
}
.gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery {
  display: flex;
  width: 100%;
  gap: 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -50px;
}
